p{
    background: radial-gradient(ellipse, red, yellow)
}

/* p{
    background: radial-gradient(circle, blue, white);
}*/

h1{
    text-align: left;
    color:rgb(30, 255, 0);
}

h3{
    color: rgb(174, 0, 255);
    background-color: blue;
    padding: 15px;
}

body{
    background: grey;
}